@model IEnumerable<ProductApp.Core.Product>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}
<br /><br />

@using (Html.BeginForm())
{
    <p>
        Find by product name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table table-striped">
    <tr class="success">
        <th>
            @Html.ActionLink("Product Name", "Index", new { sortOrder = ViewBag.ProductNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Price", "Index", new { sortOrder = ViewBag.PriceSortParam })
        </th>
        <th>
            @Html.ActionLink("Category Name", "Index", new { sortOrder = ViewBag.CategoryNameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.ActionLink("Created", "Index", new { sortOrder = ViewBag.CreatedNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Modified", "Index", new { sortOrder = ViewBag.ModifiedNameSortParm })
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>
